<ion-view hide-nav-bar="true">
  <ion-content>
    <ion-header-bar align-title="center" class="bar-positive">
      <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="go()"></a>
      <h1 class="title">巨蟹座鲜花礼物专题</h1>
      <a class="button button-outline icon-right ion-navicon button-dark"></a>
    </ion-header-bar>
    <ion-header>
      <form>
        <label><input type="radio" name="start" ng-checked="false">双子座</label>
        <label><input type="radio" name="start" ng-checked="false">巨蟹座</label>
      </form>
    </ion-header>
  </ion-content>
</ion-view>
