<ion-view view-title="订单详情">
  <style>
    .scroll-content {
      background-color: rgb(240, 239, 237);
      padding: 0;
    }
    .button.button-positive {
      border-color: transparent;
      background-color: orange;
      border-radius: 20px;
      color: #fff;
    }
    .card, .list-inset {
      overflow: hidden;
      margin: 10px 5px;
      border-radius: 2px;
      background-color: #fff;
    }
    .item {
      border-color: #ddd;
      background-color: #fff;
      color: #444;
      position: relative;
      z-index: 2;
      display: block;
      margin-bottom: 10px;
      padding: 16px;
      border-width: 1px;
      border-style: solid;
      font-size: 16px;
    }

  </style>
  <ion-content>
    <div class="card" ng-repeat="details in paymentList" style=" background-color: rgb(240, 239, 237);">
      <div class="item item-text-wrap">
        <p>订单编号：{{details.order_number}}</p>
        <p>订单状态：<span style="color: red;">已付款</span></p>
        <p>处理说明：{{details.psdesc}}</p>
      </div>
      <div class="item item-text-wrap">
        <p style="color: red;">收货人信息：</p>
        <p>姓名：{{details.consignee}}</p>
        <p>手机号：{{details.psphone}}</p>
        <p>地址：{{details.psaddress}}</p>
      </div>
      <div class="item item-text-wrap">
        <p style="color: red;">其他信息：</p>
        <p>配送时间：{{details.pstime}}</p>
        <p>时间段：{{details.psshijian}}</p>
        <p>付款方式：<span style="color: red;">网上支付</span></p>
      </div>
      <div class="list">
        <a class="item item-thumbnail-left" href="#/tab/mine/Payment/{{details.order_number}}">
          <img ng-src="{{details.src}}">
          <span style="display:inline-block;padding-left: 90px;">
            <p>商品名称{{details.title}}</p>
            <p>价格：<span style="color: red;">{{details.now_price}}元</span></p>
            <p>数量:&nbsp;{{details.number}}</p>
        </span>
        </a>
      </div>
    </div>
    <button class="button button-full button-positive" ng-disabled="suc==0?false:true" ng-click="pinglun()">{{suc==0 ? '评价':'已评价'}}</button>
  </ion-content>
</ion-view>
