<ion-view view-title="代付款">
  <style>
    .scroll-content {
      background-color: rgb(240, 239, 237);
      padding: 0;
    }
    .none-payment{
      width:100%;
      height:177px;
      text-align: center;
    }
    section .inner_c .paymentlist {
      height: 135px;
      margin: 10px 7px;
    }
  </style>
  <ion-content>
    <section>
      <div class="inner_c">
        <div class="none-payment" ng-show="suc">
          <img src="http://img02.hua.com/m/no_order.png" alt="" style="margin:50px 0 30px;">
          <p style="color: #666; font-size: 17px; text-align: center;">暂无相关订单</p>
        </div>
        <div class="payment"ng-show="!suc">
          <div class="paymentlist" ng-repeat="payment in paymentList">
            <div class="list">
              <a class="item item-thumbnail-left" href="#/tab/mine/Payment/{{payment.order_number}}">
                <img ng-src="{{payment.src}}" style="margin-top: 10px;">
                <h2>订单编号：{{payment.order_number}}</h2>
                <p>订单金额：￥{{payment.amount}}</p>
                <p>订单状态：<span style="color: red;">代付款</span></p>
                <p>收货人：{{payment.consignee}}</p>
                <p>配送时间：{{payment.pstime}}</p>
              </a>
            </div>
          </div>
        </div>
      </div>

    </section>
  </ion-content>
</ion-view>
