<style>
  .bar.bar-positive{
    background-color: #ffffff;
  }
  .bar.bar-positive .title{
    color: black;
  }
  .bar.bar-positive a.button.button-clear.icon-left::before{
    font-size:25px;
    color:#aaa;
  }
  .bar.bar-positive a.button.icon-right::before{
    font-size:32px;
  }
  .bar.bar-positive .button{
    border-width:0;
  }
  section .list{
    padding:0 20px;
    border:none;
  }
  section .list .title{
    border-radius: 10px;
  }
  section .list .item {
    border-width: 0;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    margin-bottom:5px;
  }

  .button.button-positive {
    background-color: orange;
    border-radius: 15px;
  }
  a {
    color: #333;
    font-size: 14px;
    margin-left: 30px;
    text-decoration: none;
  }
</style>
<ion-header-bar align-title="center" class="bar-positive">
  <a class="button icon-left ion-chevron-left button-clear button-dark"></a>
  <h1 class="title">手机登录</h1>
  <a class="button button-outline icon-right ion-navicon button-dark"></a>
</ion-header-bar>
<ion-content>
    <section>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">手机号</span>
            <input type="text" placeholder="请输入手机号">
          </label>
          <label class="item item-input">
            <span class="input-label">密码</span>
            <input type="password" placeholder="请输入密码">
          </label>
          <button class="button button-full button-positive">
           登录
          </button>
        </div>
        <a href="#/tab/mine/login/s">快速注册</a><i class="icon ion-ios-arrow-forward"></i>
    </section>
</ion-content>
