<ion-view view-title="全部订单">
  <style>
    .scroll-content {
      background-color: rgb(240, 239, 237);
      padding:0;
    }

    .none-payment {
      width: 100%;
      height: 177px;
      text-align: center;
    }

    section .inner_c .paymentlist {
      height: 135px;
      margin: 10px 7px;
    }
  </style>
  <ion-content>
    <section>
      <div class="inner_c">
        <div class="none-payment" ng-show="suc">
          <img src="http://img02.hua.com/m/no_order.png" alt="" style="margin:50px 0 30px;">
          <p style="color: #666; font-size: 17px; text-align: center;">暂无相关订单</p>
        </div>
        <div class="payment" ng-show="!suc">
          <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      ng-repeat="payment in paymentList"
                      type="item-text-wrap"
                      href="#/tab/mine/orderdetails/{{payment.order_number}}"
                      style="margin-bottom:10px;">
              <img ng-src="{{payment.src}}" style="top: 26px; max-width:80px;max-height: 80px;">
              <span style="display:inline-block; padding-left: 50px;">
                <h2>订单编号：{{payment.order_number}}</h2>
                <p>订单金额：￥{{payment.amount}}</p>
                <p>订单状态：<span style="color: red;">已付款</span></p>
                <p>收货人：{{payment.consignee}}</p>
                <p>配送时间：{{payment.pstime}}</p>
              </span>
              <i class="icon ion-chevron-right icon-accessory"></i>
              <ion-option-button class="button-assertive" ng-click="deleteorder(payment)">
                删除
              </ion-option-button>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </section>
  </ion-content>
</ion-view>
