<ion-view view-title="修改密码">
  <style>
    .scroll-content {
      background-color: rgb(240, 239, 237);
      padding:0;
    }
    element.style {
      height:100%;
    }
    .item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
      padding-left:30px;
      min-height: 0px;
    }
    .item-complex .item-content, .item-radio .item-content {
      padding: 10px 49px 10px 16px;
    }
    .list:nth-child(1){
      margin-bottom: 15px;
    }
    .item h2 {
      font-size: 14px;
      color: #666;
    }
    .button.button-positive {
      background-color: orange;
      border-radius: 15px;
      color: #fff;
    }
    a {
      color: #333;
      font-size: 14px;
      margin-left: 30px;
      text-decoration: none;
    }
    .error{
      color: red;
      font-size:12px;
      position: relative;
      right:35px;
    }
    .input-label{
      color: #666;
    }
  </style>
  <ion-content>
    <section>
      <div class="inner_c">
        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right"
                    type="item-text-wrap">
            <h2 style="color: red;">{{notes_name}},您好</h2>
            <p>您可以修改密码：</p>
          </ion-item>
        </ion-list>
        <form novalidate name="LoginFrom">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">&nbsp;您的旧密码：</span>
              <input type="password" required ng-model="user.oldpwd" ng-model-options="{'updateOn':'blur'}" name="oldpwd">
              <span class="error" ng-show="LoginFrom.oldpwd.$error.required && LoginFrom.oldpwd.$dirty">此字段不能为空</span>
              <span class="error" ng-show="!suc">密码错误</span>
            </label>
            <label class="item item-input">
              <span class="input-label">&nbsp;设置新密码：</span>
              <input type="password"  name="pwd" ng-model="user.newpwd" ng-model-options="{'updateOn':'blur'}" required>
              <span class="error" ng-show="LoginFrom.pwd.$error.required && LoginFrom.pwd.$dirty">此字段不能为空</span>
            </label>
            <label class="item item-input">
              <span class="input-label">再次输入新密码：</span>
              <input type="password" name="pwd2" ng-model="user.new2pwd" ng-model-options="{'updateOn':'blur'}" required>
              <span class="error" ng-show="LoginFrom.pwd2.$error.required && LoginFrom.pwd2.$dirty">此字段不能为空</span>
              <span class="error" ng-show="LoginFrom.pwd2.$dirty && user.newpwd!=user.new2pwd">两次密码输入不一致</span>
            </label>
            <button class="button button-full button-positive" ng-disabled="LoginFrom.$invalid" ng-click="pwdUpdate(user)">
              完成
            </button>
          </div>
        </form>
      </div>
    </section>
  </ion-content>
</ion-view>
