<ion-view view-title="账户管理" hide-tabs>
  <style>
    .scroll-content {
      background-color: rgb(240, 239, 237);
      padding:0;
    }
    .item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
      min-height: 0px;
    }
    .item-complex .item-content, .item-radio .item-content {
      padding: 10px 49px 10px 16px;
    }
    .list:nth-child(1){
      margin-bottom: 15px;
    }
    .item h2 {
      font-size: 14px;
      color: #666;
    }
    .button.button-positive {
      background-color: #fafafa;
      color: #111;
    }
  </style>
  <ion-content>
    <section>
      <div class="inner_c">
        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right"
                    type="item-text-wrap"
                    href="#/tab/mine/{{chat.id}}">
            <h2>余额</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right"
                    type="item-text-wrap"
                    href="#/tab/mine/{{chat.id}}">
            <h2>个人资料管理</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
          <ion-item class="item-remove-animate item-avatar item-icon-right"
                    type="item-text-wrap"
                    href="#/tab/mine/{{chat.id}}">
            <h2>收货地址管理</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item class="item-remove-animate item-avatar item-icon-right"
                    type="item-text-wrap"
                    href="#/tab/mine/ualogin">
            <h2>修改密码</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
          <ion-item class="item-remove-animate item-avatar item-icon-right"
                    type="item-text-wrap"
                    href="#/tab/chats/{{chat.id}}">
            <h2>修改用户名</h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right"
                  type="item-text-wrap"
                  href="#/tab/mine/{{chat.id}}">
          <h2>功能反馈</h2>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <button class="button button-full button-positive" ng-click="exit()">
          退出
        </button>
      </div>
    </section>
  </ion-content>
</ion-view>
