<ion-view view-title="Dash">
  <style>
    img{
      width: 100%;
    }
  </style>
  <script src="../lib/ionic/js/ionic.bundle.min.js"></script>
  <ion-content>

  <!--头部banner轮播-->
  <ion-slide-box active-slide="model.activeIndex"
                 does-continue="true" slide-interval="4000" auto-play="true"
                 show-pager="true" pager-click="toSlideIndex(index)"
                 on-tap="stopOrStart()">
    <ion-slide>
      <img ng-repeat="banner in bannerT track by $index" ng-src="{{banner}}">
    </ion-slide>
  </ion-slide-box>
</ion-content>
</ion-view>
